^contentpage{
    background-color:#a09f9f;
}

#header{
    font-size-adjust: 40;
    
}

#entry {
    background-color: white;
    color: black;
}

#button {
    margin-top: 30;
    background-color: red;
}

#else {
    font-size: 14;
    background-color: white;
    color: black;
}

label {
    color: white;
}

.LabelTextColor {
    color: black;
}